:root {
  --accent-color: #1a73e8;
}

.App {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 12px;
  color: #333;
  overflow: hidden;
}

.LeftPanel {
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  cursor: default;


}

